<div class="container-fluid">
  <h2 class="hero-title text-center m-5">My Profile</h2>
</div>

<div class="user-container">
  <div class="user-card">
    <img class="profile-picture" src="https://images.unsplash.com/photo-1526297003708-f5a1c2c9c6e7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGZhY2UlMjBjYXJ0b29ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60">
    <div class="card-body">
      <h5 class="card-title">John Doe</h5><br>
      <h5>Bio</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae recusandae nesciunt voluptatibus tempore ea voluptatum, numquam est, animi natus quo aperiam maxime modi. Ab vitae impedit pariatur amet ratione eaque.</p>
    </div>
  </div>
</div>
  

