<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Edition</th>
      <th>Format</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.edition %></td>
        <td><%= book.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>