// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  .card {
    align-items: center;
    border: none;

    .card-img-top {
      width: 150px;
      border: 1px solid black;
    }

    .card-img-top:hover {
      cursor: pointer;
    }

    .card-body {

      .card-title {
        text-decoration: none;
        color: black;
      }

      .card-title:hover {
        color: #1B73F9;
      }

      .card-text {
        text-align: center;
      }
    }

    .btn {
      margin-bottom: 10px;
      width: 60%;
      height: 40px;
      background-color: #ffddd2;
      color: black;
      border-color: black;
      font-size: 1.1rem;
    }

    .btn:hover {
      background-color: #f5cbbd;
    }
  }
}
