// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 12px;
  
  .card {
    align-items: center;

    .card-img-top {
      width: 120px;
      border: 1px solid black;
    }

    .card-img-top:hover {
      cursor: pointer;
    }

    .card-body {
      width: 200px;
      padding: 16px 0;

      .card-title {
        @include flex-center();
        text-align: center;
        text-decoration: none;
        color: black;
      }

      .card-title:hover {
        color: #1B73F9;
      }

      .card-text {
        text-align: center;
      }
    }

    .action-icons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // border: 1px solid black;

      .swap-action {
        display: flex;
        justify-content: space-between;        

        .swap-icon {
          width: 1.7em;
        }
      }

      .basket-action {
        display: flex;
        justify-content: space-between;
        
        .basket-icon {
          width: 1.6em;
          fill: orange;
        }
      }

    }


    .btn {
      margin-bottom: 10px;
      width: 60%;
      height: 40px;
      background-color: #ffddd2;
      color: black;
      border-color: black;
      font-size: 1.1rem;
    }

    .btn:hover {
      background-color: #f5cbbd;
    }
  }
}
