// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user-container {
  display: flex;
  justify-content: center;

  .user-card {
    width: 50rem;
    border: 1px solid black;
    border-radius: 15px;
    align-items: center;

    .user-img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .profile-picture {
        width: 150px; 
        height: 150px;
        border-radius: 50%;
      }
    }
  
    .card-body {
      
      .card-title {
        text-align: center;
      }
    }
  }
}